.footer {
	background-color: #e5e5e5;
	padding-top: 30px;
	margin-top: 50px;
	overflow-x: hidden;
	text-align: center;
	@media #{$minSmall} {
		.box {
			float: left;
			width:calc((100% -20) / 3); ;
		}
		.gallery{
			width:100% ;
			.img-box {
				padding-inline: 100px;
				img {
					height: 120px;
				}
		}}
	}
	@media #{$minMeduim} {
		.box {
			width: calc((100% - 20px) / 4);
		}
		.gallery{
			.img-box {
				padding-inline: 5px;
				
		}}
	}
	.gallery {
		.img-box {
			margin-bottom: 20px;
			overflow: hidden;
			img {
				width: calc((100% - 20px) / 3);
				height: 100px;
				float: left;
				margin: 2px;
				transition: transform 0.2s;
				
				&:hover {
					@include prefixer(transform, scale(0.95), webkit moz);
				}
				@media #{$maxMobile} {
					float: none;
				}
			}
		}
	}
	.info,
	.links {
		ul {
			color: $lastcolor;
			line-height: 1.8;
			li {
				a:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		h5 {
			color: $lastcolor;
		}
		p {
			color: $lastcolor;
		}
		span {
			color: $seccolor;
		}
	}
	.contact {
		input[type="text"],
		input[type="email"],
		textarea {
			border: 1px solid $seccolor;
			padding: 10px;
			margin-bottom: 5px;
			border-radius: 10px;
			width: 100%;
		}
		textarea {
			height: 75px;
		}
		.main-button {
			@include button(150px, 20px, $seccolor, white, 5px 10px, 5px 0px, 25px, 2px, $seccolor, white, $forcolor);
		}
		@media #{$maxMobile}{
			padding: 40px;
		}
	}
	.f-title {
		color: $firstcolor;
		font-weight: normal;
		font-size: 25px;
	}
	.copyright {
		margin-top: 20px;
		padding: 20px 0px;
		border-top: 1px solid $seccolor;
		overflow: hidden;
		color: $lastcolor;
		.text,
		.author {
			float: left;
			@media #{$maxMobile} {
				float: none;
				margin-bottom: 10px;
			}
			@media #{$minSmall} {
				width: 50%;
			}
		}

		@media #{$minSmall} {
			.author {
				text-align: right;
			}
		}
	}
}
